@charset "UTF-8";
* {font-feature-settings: "palt";}

/* LOGO */
body { font-size:16pt; }
.navbar-brand img { height: 50px; width:auto; }
a,a:hover { text-decoration:none;}

main { margin-top:1em; margin-bottom:1em;}
h1,h2,h3,h4,h5,h6 { border-left: .5em solid #192e6d; padding-left:.5em; margin:1em 0;}
h2 { border-left-width: .3em; padding-left:.3em; margin-bottom:.5em;}
h3 { border-left-width: .1em; padding-left:.1em;margin-bottom:.3em;}

.wrap-main-visual { height:auto; text-align:center;  background-color:black;}
.wrap-main-visual ul { padding-left:0;}
.wrap-main-visual img { width:100%; height:auto;}
.slider img { object-fit: cover;}

main { min-height:90vh;}
.wrap-footer { background-color:#274b85; color:white;}
.wrap-footer footer p { text-align:center; margin-bottom:0;}
.wrap-footer .blk-links { padding:5px 10px; background-color:#2d5390;}
.wrap-footer .blk-links a {color:white;}
.wrap-footer .blk-links li { list-style:none;}


.wrap-section-news .date {
}

.wrap-section-news a:hover,
.wrap-section-coupon a:hover
{
    background-color:#f4f4fb;
}

.wrap-section-news a,
.wrap-section-service a,
.wrap-section-coupon a{
    display:block;
    padding:2px;
    font-size:1.3em;
}



/* TOP PAGE --------------------------------------------------*/

.wrap-section-service ul,
.wrap-section-coupon ul,
.wrap-section-pickup ul{
    padding:0;
    margin:0;
}

.wrap-section-service li,
.wrap-section-coupon li,
.wrap-section-pickup li{
    list-style:none;
    padding: 10px 0;
}

/* SERVICE */
.wrap-section-service a {
    padding:30px 5px;
    margin: 0 10px;
    text-align:center;
    background-color:#274b85;
    color:white;
    border-radius:10px;
}

.wrap-section-service a:hover {
        background-color:#616f86;
}

/* FOOTER */

.wrap-section-news dt{ font-size:0.8em;}

.wrap-section-pickup li img {width:100%;hegiht:auto;}
/**/
.slick-arrow { display:none;}

@media (min-width: 768px) {
    .wrap-main-visual { height:500px; text-align:center;  background-color:black;}
    .wrap-main-visual img { height:500px; object-fit: cover;}

    .wrap-section-news a,
    .wrap-section-coupon a{
	font-size:1.0em;
    }

}

/* .h-inner
----------------------------------------------- */
.h-inner {
  position: relative;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 25px 0 26px;
  width: 1000px;
  height: 90px;
}

.h-inner > .h-link:last-child {
  right: 0;
}

/* .h-logo
----------------------------------------------- */
.h-logo {
  margin-bottom: 0;
}

.h-logo > a {
  display: inline-block;
}

._coop .h-logo > :first-child {
  margin-right: 38px;
  width: 228px;
}

/* .h-link
----------------------------------------------- */
.h-link {
  position: absolute;
  top: 19px;
  right: 60px;
  margin-bottom: 0;
}

._simple .h-link {
  top: 36px;
}

._coop .h-link {
  /*right: 0;*/
}

/* .h-logo-02
----------------------------------------------- */
.h-logo-02 {
  position: absolute;
  top: 24px;
  right: 0;
  margin-bottom: 0;
}

/* .h-list-step
----------------------------------------------- */
.h-list-step {
  position: absolute;
  top: 51px;
  right: 60px;
  display: flex;
  margin-bottom: 0;
  width: 460px;
  color: #333;
  white-space: nowrap;
  font-size: 1.3rem;
  justify-content: space-between;
}

.h-list-step._col3 {
  right: 210px;
  width: 329px;
}

.h-list-step_inner {
  position: relative;
}

.h-list-step_inner::before, .h-list-step_inner::after {
  position: absolute;
}

.h-list-step_inner::before {
  top: -28px;
  left: 50%;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background-color: #dce1e5;
  transform: translateX(-50%);
}

.h-list-step_inner::after {
  top: -24px;
  left: 50%;
  height: 2px;
  background-color: #dce1e5;
}

.h-list-step_inner._step01::after {
  width: 105px;
}

._col3 .h-list-step_inner._step01::after {
  width: 150px;
}

.h-list-step_inner._step02::after {
  width: 96px;
}

._col3 .h-list-step_inner._step02::after {
  width: 120px;
}

.h-list-step_inner._step03::after {
  width: 68px;
}

._col3 .h-list-step_inner._step03::after {
  content: none;
}

.h-list-step_inner._step04::before {
  left: 25px;
}

.h-list-step_inner._step04::after {
  content: none;
}

.h-list-step_inner._step04 span:first-child {
  padding-left: 18px;
}

.h-list-step_inner._step04 span:last-child {
  padding-left: 10px;
}

.h-list-step > li {
  position: relative;
}

.h-list-step > li[class^='is-'] .h-list-step_inner::before {
  top: -35px;
  z-index: 1;
  background-color: #0000;
}

.h-list-step > li.is-current .h-list-step_inner::before {
  width: 24px;
  height: 26px;
  background-position: -61px -177px;
  background-size: 274px auto;
}

.h-list-step > li.is-checked .h-list-step_inner::before {
  width: 24px;
  height: 24px;
  background-position: -26px -208px;
  background-size: 274px auto;
}

._coop .h-list-step {
  /*right: 0;*/
}

.h-list-step._request {
  right: 184px;
  width: 336px;
}

.h-list-step._request .h-list-step_inner._step03::after {
  width: 80px;
}

.h-list-step._request .h-list-step_inner._step04::before {
  left: 50%;
}
